.Logo {
  display: flex;
  align-items: center;

  &__text {
    margin: 0;
    margin-left: 0.25em;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow:  0 0 1px hsl(var(--clr-accent)), 0 0 4px hsl(var(--clr-white));
  }
}
