.Navbar {
  position: fixed;
  width: 100%;
  height: 3.75em;
  display: flex;
  align-items: center;
  background-color: hsl(var(--clr-dark));
  padding: 0 1.5em;
  box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 0, 0.8);
  z-index: 100;
  
  &__left-section {
    display: flex;
  }

  &__middle-section {
    height: 100%;
    display: flex;
    flex: 2;
    justify-content: center;
  }

  &__right-section {
    display: flex;
  }
}
