@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap');

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --clr-primary: 43 75% 49%;
  /* hex #DBA61F */
  --clr-secondary: 20 6% 31%;
  /* hex #544D4A */
  --clr-accent: 216 58% 19%;
  /* hex #142B4D */

  --clr-white: 0 0% 99%;
  /* hex #FCFCFC */
  --clr-neutral: 150 1% 40%;
  /* hex #656766 */
  --clr-dark: 150 1% 11%;
  /* hex #1C1C1C */

  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.675rem;

  --heading: 'Libre Baskerville', serif;
  --text: 'Lato', sans-serif;

  @media (min-width: 35em) {
    :root {
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-500: 1.25rem;
      --fs-400: 1rem;
      --fs-300: 0.8375rem;
    }
  }

  @media (min-width: 45em) {
    :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-500: 1.75rem;
      --fs-400: 1.125rem;
      --fs-300: 0.9rem;
    }
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--text);
  font-size: var(--400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
