@use '../globals/' as g;

.Navbar {
  width: 100%;
  height: g.em(60);
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  box-shadow: 0 g.em(1) g.em(5) rgba(0, 0, 0, 0.8);

  &__left-section {
    display: flex;

    &--logo {
      font-size: g.rem(18);
      text-transform: uppercase;
      text-shadow: 0 0 g.em(3) #000, 0 0 g.em(10) hsl(var(--clr-accent));
    }
  }

  &__middle-section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 2;
  }

  &__links-container {
    height: 100%;
    display: flex;
    align-items: center;

    &--links-wrapper {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;

      &__link-item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.1em;
        font-size: g.rem(14);
        font-weight: 400;
        text-transform: uppercase;

        &--link {
          color: hsl(var(--clr-white));
          border-bottom: g.em(2) solid transparent;
          transition: all 350ms ease-in-out;

          &:hover,
          &:focus {
            border-bottom: g.em(2) solid hsl(var(--clr-primary));
            color: hsl(var(--clr-primary));
          }
        }
      }
    }
  }

  &__right-section {
    display: flex;

    &--contact-btn,
    &--portal-btn {
      padding: 0.5em 1em;
      font-weight: 600;
      color: hsl(var(--clr-white));
      text-transform: uppercase;
      margin-inline: g.em(5);
      border: g.em(1) solid hsl(var(--clr-primary));
      border-radius: g.em(5);
      background-color: transparent;
      transition: all 400ms ease-in-out;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: hsl(var(--clr-primary));
        box-shadow: 0 g.em(4) g.em(5) rgba(0, 0, 0, 0.3);
      }
    }

    &--contact-btn {
      background-image: linear-gradient(to right, transparent 0%, hsl(var(--clr-accent)) 100%)
    }

    &--portal-btn {
      background-image: linear-gradient(to right, transparent 0%, hsl(var(--clr-primary) / 0.4 ) 100%)
    }
  }
}
